AdvancedAndroid/.idea/caches/build_file_checksums.ser
AdvancedAndroid/.idea/codeStyles/Project.xml
AdvancedAndroid/.idea/gradle.xml
AdvancedAndroid/.idea/misc.xml
AdvancedAndroid/.idea/runConfigurations.xml
